@font-face {
    src: url(fonts/GothamBold.ttf);
    font-family: Gotham;
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Gotham;
    height: 100vh;
    background-color: #8e9aaf;
    display: grid;
    justify-content: center;
}

.container-calc {
    height: 736px;
    width: 414px;
    margin-top: 50px;
    box-shadow: 2px 3px 6px #000;
}

.output {
    width: 414px;
    height: 216px;
    background-color: #192231;
    position: relative;
}

.small-output {
    color: #FFFFFFBF;
    position: absolute;
    right: 1.5em;
    top: 5em;
    font-size: 22px;
}

.operators-output {
    color: #FFFFFFBF;
    position: absolute;
    right: 1em;
    top: 6.4em;
    font-size: 18px;
}
.current-output {
    color: #FFFFFF;
    position: absolute;
    right: .5em;
    top: 5em;
    font-size: 32px;
}

/* */

.input {
    width: 414px;
    height: 520px;
    background-color: #FFFFFFE6;
   position: relative;
}

.del_image {
    position: absolute;
    right: 20px;
    top: 33px;
}
.clear {
    position: absolute;
    left: 34px;
    top: 41px;
    font-family: Gotham;
    font-size: 22px;
}
.ce {
    position: absolute;
    left: 148px;
    top: 41px;
    font-family: Gotham;
    font-size: 22px;
}

.clear:hover, .ce:hover {
    cursor: pointer;
    color: #394150;
}
.del_image:hover {
    cursor: pointer;
    top: 34px;
}
/* All buttons here */

.all_buttons {
    position: absolute;
    top: 111px;
    text-align: center;
}
button {
    font-family: Arial;
    font-size: 32px;
    height: 87px;
    width: 94px;
    margin-right: -5px;
    border: 1px solid #CAD2C5BF;
    cursor: pointer;
}
.number {
    background-color: #FFFFFFBF;
    border: 1px solid #CAD2C5BF;
}
.number:hover {
    background-color: #f0f0f0be;
}

.data_operators {
    background-color: #FFFFFFE6;
    border: 1px solid #37505BBF;
}
.data_operators:hover {
    background-color: #f0f0f0be;
}

.equal-calc {
    background-color: #192231;
    color: #FFF;
    border: 1px solid #CAD2C5BF;
    border-right: #37505BBF;
}
.equal-calc:hover {
    background-color: #272f3d;
}